.social {
    color: #000;
    font-size: 2rem;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social a {
    padding-right: 5px;
}
.social a:hover {
    color: #5D58EA;
}